// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
$vw_fontsize: 82.8; // iPhone 6尺寸的根元素大小基准值
@function rem($px) {
     @return ($px / $vw_fontsize ) * 1rem;
}

// 根元素大小使用 vw 单位
$vw_design: 828;
html {
    font-size: ($vw_fontsize / ($vw_design / 2)) * 100vw; 
    // 同时，通过Media Queries 限制根元素最大最小值
    @media screen and (max-width: 320px) {
        font-size: 64px;
    }
    @media screen and (min-width: 540px) {
        font-size: 108px;
    }
}

// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body, .meMenu {
    max-width: 540px;
    min-width: 320px;
}



@mixin border ($type, $color:#e6e6e6,$opacity:1) {
    position: relative;
    &::after{

        content: '';
        position: absolute;
        @if $type == 'left' {
        border-left: 1px solid $color;
        top: 0;
        left: 0;
        height: 100%;
        transform-origin: 0 0;
        opacity: $opacity;
        } @else if $type == 'bottom' {
        width: 100%;
        border-bottom: 1px solid $color;
        left: 0;
        bottom: 0;
        transform-origin: 0 bottom;
        opacity: $opacity;
        } @else if $type == 'top' {
        width: 100%;
        border-bottom: 1px solid $color;
        left: 0;
        top: 0;
        transform-origin: 0 bottom;
        opacity: $opacity;
        }@else if $type == 'right' {
        width: 100%;
        border-right: 1px solid $color;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        opacity: $opacity;
        }
    
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        @if $type == 'left' {
            height: 200%;
        } @else {
            width: 200%;
        }
        transform: scale(.5);
        @if $type == 'right' {
            height: 200%;
        } @else {
            width: 200%;
        }
        }
        @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
        @if $type == 'left' {
            height: 300%;
        } @else {
            width: 300%;
        }
        @if $type == 'right' {
            height: 300%;
        } @else {
            width: 300%;
        }
        transform: scale(.33);
        }

    }
    
  }

  /*  iPhone X 微信开发工具调节 */

@media screen and (device-width: 375px) and (device-height: 724px) and (-webkit-device-pixel-ratio: 3) {
    .border-iphone {
      /* bottom: 34px; */
      border-bottom: 34px solid #fff;
    }
  
   
  }
  
  /* 在这里做iPhone X的判断 */
  
  @media screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio: 3) {
    .border-iphone {
      /* bottom: 40px; */
      border-bottom: 40px solid #fff;
    }
  }
  
  /* 1792x828px at 326ppi  iPhone XR*/
  
  @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
    .border-iphone {
      /* bottom: 34px; */
      border-bottom: 34px solid #fff;
    }
  
   
  }
  
  /* 2436x1125px at 458ppi  iPhone XS*/
  
  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
    .border-iphone {
      /* bottom: 34px; */
      border-bottom: 34px solid #fff;
    }
  
   
  }
  
  /* 2688x1242px at 458ppi iPhone XS Max*/
  
  @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
     .border-iphone {
      /* bottom: 34px; */
      border-bottom: 34px solid #fff;
    }
  
  }
